.result-table-container {
    h2 {
        font-size: 1.2rem;
        margin-bottom: 0.75rem;
        color: #333;
        border-bottom: 2px solid var(--primary-color);
        padding-bottom: 0.5rem;
    }

    .amount-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #f0f8ff;
        padding: 0.6rem 0.8rem;
        border-radius: 8px;
        margin-bottom: 0.75rem;
        border: 1px solid var(--primary-color);

        .amount-label {
            font-weight: 500;
            color: #333;
            font-size: 1.1rem;
        }

        .amount {
            font-weight: 600;
            color: var(--primary-color);
            font-size: 1.1rem;
        }
    }

    .result-table {
        width: 100%;
        border-collapse: collapse;

        tr {
            position: relative;
            border-bottom: 1px solid #f0f0f0;

            &:last-child {
                border-bottom: none;
            }

            &:nth-child(even) {
                background-color: rgba(0, 0, 0, 0.02);
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                height: 100%;
                width: 1px;
                background-color: #e0e0e0;
            }

            td {
                padding: 0.5rem 1rem;
                font-size: 0.95rem;
                font-weight: 600;
                padding-right: 1rem;
                width: 50%;

                &.denomination {
                    font-weight: 700;
                    color: var(--primary-color);
                    text-align: right;
                }

                &.count {
                    text-align: right;
                }

                &.positive {
                    color: #22c55e;
                    font-weight: 600;
                  }
        
                  &.negative {
                    color: #ef4444;
                    font-weight: 600;
                  }
        
                  &.neutral {
                    color: var(--primary-color);
                    font-weight: 500;
                    opacity: 0.6;
                  }
            }
        }
    }
}