.card {
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border: 1px solid #e0e0e0;
    margin: 0 auto;
    overflow: hidden;

    &.main {
        max-width: 900px;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    }

    &.default {
        padding: 1rem;
    }
}